<p>
    <mat-toolbar>
     <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Header</span>
    
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
     <mat-icon>share</mat-icon>
   </button>
   <button mat-icon-button>
    <mat-icon>facebook</mat-icon>
  </button>
   <button mat-icon-button>
     <a routerLink="/contact">Contact</a>

  </button>
  <button mat-icon-button>
    <a routerLink="/form">Form</a>
    
  </button>
  </mat-toolbar>
</p>
